.env
.envrc
.DS_Store
.vscode/
node_modules/
dist/
build/
logs/
*.log
*.tmp
*.swp
.idea/
*.iml
coverage/
*.pytest_cache/
__pycache__/
*.pyc
.env.local
.env.development
.env.testing
.env.production
secrets/
secrets-*.json
mystack-postgres-data/
volumes/